<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502133545575-a9929c0nikn375t0bb6o3tgitsqk18h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502133545575-a9929c0nikn375t0bb6o3tgitsqk18h3</string>
	<key>API_KEY</key>
	<string>AIzaSyC1vMATZCujUiaFjt2RSLOyl4-y2GsF1Fk</string>
	<key>GCM_SENDER_ID</key>
	<string>502133545575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ackdevelepment.Firebase-Push-Notifications</string>
	<key>PROJECT_ID</key>
	<string>push-notification-79d79</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-79d79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502133545575:ios:5eb16a7c80d9e1e06692c2</string>
</dict>
</plist>